#title{
    background-color: blue;
	font-size: 26px;
	line-height: 75px;
    color: cornsilk;
}

body{
    text-align: center;
    background-color: darkgray;
}

button{
    font-size: 18px;
	width: 275px;
	height: 70px;
    background-color: darkcyan;

}

button:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
}