#title{
	font-size: 26px;
	line-height: 75px;
	grid-column: 2;
  	grid-row: 1;
}

#startbutton{
	grid-column: 2;
  	grid-row: 2;
}

#optionsbutton{
	grid-column: 2;
  	grid-row: 3;
}

#exitbutton{
	grid-column: 2;
  	grid-row: 4;
}

#img1{
	grid-column: 2;
  	grid-row: 2;
}

#img2{
	grid-column: 2;
  	grid-row: 3;
}

body{
	display: grid;
	grid-template-columns: auto 325px auto;
}

.menu-object{
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
	
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
}

